

@import "./utils";
@import "~susy/sass/susy";
$susy: (
  global-box-sizing: border-box,
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);
.row{
  margin: 15px 0;
  @include container;
  @include clearfix;
}
.col-4{
  float: left;
  width: span(4);
  margin-right: gutter();
}
.col-md-3{
  float: left;
  @include breakpoint($md){
    @include span(3 of 12)
  }

  @include breakpoint($lg){
    @include span(3 of 12)
  }
}
.col-lg-3{
  @include breakpoint($lg){
    width: span(3)
  }
}


.col-sm-4{
  float: left;
  width: span(4);
  @include breakpoint($xs){
    width: span(12)
  }
 
}
.container{
  margin: 0 auto;
  position: relative;  
  padding: 0 20px;
  @include breakpoint($md){
    padding: 0 20px;
  }
  @include breakpoint($lg){
    padding: 0 20px;
    width:1024px;
  }
}
.fluid-container{
  @include clearfix;
  margin: 0 auto;
  position: relative;  
  width: 100%
}

