
@mixin clearfix() {
    &:before,
    &:after {
      content: " ";
      display: table;
      height: 0;
      line-height: 0;
      overflow: hidden;
      font-size: 0;
    }
    &:after{
      clear: both;
    }
}
